<!DOCTYPE html>
<html lang="it">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="/node_modules/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/node_modules/perfect-scrollbar/dist/css/perfect-scrollbar.min.css" />
    @*<link rel="stylesheet" href="/node_modules/flag-icon-css/css/flag-icon.min.css" />
    <link rel="stylesheet" href="/Content/themes/base/datepicker.css" />*@
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="stylesheet" href="/css/jquery.dataTables.min.css" />
    <link rel="shortcut icon" href="/favicon.ico" />
</head>
<body>
    <div class="container-scroller">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar navbar-default col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
            <div class="bg-white text-center navbar-brand-wrapper">
                <a class="navbar-brand brand-logo" href="/"><img src="~/images/brewday.png" /></a>
                <a class="navbar-brand brand-logo-mini" href="/"><img src="/images/icon.png" alt=""></a>
            </div>
            <div class="navbar-menu-wrapper d-flex align-items-center">
                <button class="navbar-toggler navbar-toggler d-none d-lg-block navbar-dark align-self-center mr-3" type="button" data-toggle="minimize">
                    <span class="navbar-toggler-icon"></span>
                </button>
                @*<ul class="navbar-nav ml-lg-auto d-flex align-items-center flex-row">
                    <li class="nav-item">
                        <a class="nav-link" href="#"><i class="fa fa-th"></i></a>
                    </li>
                </ul>*@
                <button class="navbar-toggler navbar-dark navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
        <!-- partial -->
        <div class="container-fluid">
            <div class="row row-offcanvas row-offcanvas-right">
                <!-- partial:partials/_sidebar.html -->
                @Html.Partial("_Menu")
                <!-- partial -->
                <div class="content-wrapper">
                    @RenderBody()
                </div>
                <!-- partial:partials/_footer.html -->
                <footer class="footer">
                    <div class="container-fluid clearfix">
                        <span class="float-right">Brewday - made by David Chieregato, Davide Ditolve, Chunhua He, Luca De Filippi
                        </span>
                    </div>
                </footer>
                <!-- partial -->
            </div>
        </div>
    </div>
    <script src="/node_modules/jquery/dist/jquery.min.js"></script>
    <script src="/node_modules/popper.js/dist/umd/popper.min.js"></script>
    <script src="/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
    @*<script src="/node_modules/chart.js/dist/Chart.min.js"></script>*@
    <script src="/node_modules/perfect-scrollbar/dist/js/perfect-scrollbar.jquery.min.js"></script>
    @*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5NXz9eVnyJOA81wimI8WYE08kW_JMe8g&callback=initMap" async defer></script>*@
    <script src="/js/off-canvas.js"></script>
    <script src="/js/hoverable-collapse.js"></script>
    <script src="/js/misc.js"></script>
    <script src="/js/chart.js"></script>
    <script src="/js/maps.js"></script>
    <script src="~/Scripts/moment.js"></script>
    <script src="~/Scripts/respond.js"></script>
    @*<script src="~/Scripts/i18n/it.js"></script>*@
    @*<script src="~/Scripts/bootstrap-datetimepicker.js"></script>*@
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/ajax")
<script src="/Scripts/jquery.dataTables.min.js"></script>
    @RenderSection("scripts", false)
    <script>
        $("li.active").each(function () {
            $(this).parent().parent().addClass("show");
        });
    </script>
</body>
</html>