@{ 
    string ItemSelezionato = string.IsNullOrEmpty(ViewBag.Selezionato) ? "" : ViewBag.Selezionato;
}

<nav class="bg-white sidebar sidebar-offcanvas" id="sidebar">
    <div class="user-info">
        @Html.Partial("_LoginPartial")
    </div>
@if (Request.IsAuthenticated)
{
    <ul class="nav">
        <li class="nav-item @(ItemSelezionato == "Home" ? "active" : "")">
            <a class="nav-link" href="/Home/Index">
                <img src="~/images/file-icons/home.png" aria-hidden="true">
                <span class="menu-title">Home</span>
            </a>
        </li>
        <li class="nav-item @(ItemSelezionato == "Account" ? "active" : "")">
            <a class="nav-link" href="/Manage/Index">
                <img src="~/images/file-icons/user.png" aria-hidden="true">
                <span class="menu-title">Account</span>
            </a>
        </li>
        <li class="nav-item @(ItemSelezionato == "Magazzino" ? "active" : "")">
            <a class="nav-link" href="/Magazzino/Index">
                <img src="~/images/file-icons/warehouse.png" aria-hidden="true">
                <span class="menu-title">Magazzino</span>
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#prodotti" aria-expanded="false" aria-controls="sample-pages">
                <img src="~/images/file-icons/box.png" aria-hidden="true">
                <span class="menu-title">Prodotti<i class="fa fa-sort-down"></i></span>
            </a>
            <div class="collapse" id="prodotti">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item @(ItemSelezionato == "Additivi" ? "active" : "")">
                        <a class="nav-link" href="/Additivi">
                            <img src="~/images/file-icons/addt.png" aria-hidden="true">
                            <span class="menu-title">Additivi</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Lieviti" ? "active" : "")">
                        <a class="nav-link" href="/Lievitis">
                            <img src="~/images/file-icons/lievito.png" aria-hidden="true">
                            <span class="menu-title">Lievitis</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Luppoli" ? "active" : "")">
                        <a class="nav-link" href="/Luppoli">
                            <img src="~/images/file-icons/luppolo.png" aria-hidden="true">
                            <span class="menu-title">Luppoli</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Malti" ? "active" : "")">
                        <a class="nav-link" href="/Maltis">
                            <img src="~/images/file-icons/malto.png" aria-hidden="true">
                            <span class="menu-title">Maltis</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Zuccheri" ? "active" : "")">
                        <a class="nav-link" href="/Zuccheris">
                            <img src="~/images/file-icons/zucchero.png" aria-hidden="true">
                            <span class="menu-title">Zuccheris</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#categorie" aria-expanded="false" aria-controls="sample-pages">
                <img src="~/images/file-icons/1.png" aria-hidden="true">
                <span class="menu-title">Birre<i class="fa fa-sort-down"></i></span>
            </a>
            <div class="collapse" id="categorie">
                <ul class="nav flex-column sub-menu">
                    <li class="nav-item @(ItemSelezionato == "Tutte" ? "active" : "")">
                        <a class="nav-link" href="/Ricette">
                            <img src="~/images/file-icons/1.png" aria-hidden="true">
                            <span class="menu-title">Tutte</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "WitBier" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=WitBier">
                            <img src="~/images/file-icons/2.png" aria-hidden="true">
                            <span class="menu-title">WitBier</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Maibock" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Maibock">
                            <img src="~/images/file-icons/3.png" aria-hidden="true">
                            <span class="menu-title">Maibock</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Weiss" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Weiss">
                            <img src="~/images/file-icons/4.png" aria-hidden="true">
                            <span class="menu-title">Weiss</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "PaleAle" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=PaleAle">
                            <img src="~/images/file-icons/6.png" aria-hidden="true">
                            <span class="menu-title">Pale Ale</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Saison" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Saison">
                            <img src="~/images/file-icons/8.png" aria-hidden="true">
                            <span class="menu-title">Saison</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Bitter" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Bitter">
                            <img src="~/images/file-icons/10.png" aria-hidden="true">
                            <span class="menu-title">Bitter</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "DoubleIPA" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=DoubleIPA">
                            <img src="~/images/file-icons/13.png" aria-hidden="true">
                            <span class="menu-title">Double Ipa</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Marzen" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Marzen">
                            <img src="~/images/file-icons/17.png" aria-hidden="true">
                            <span class="menu-title">Marzen</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Bock" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Bock">
                            <img src="~/images/file-icons/20.png" aria-hidden="true">
                            <span class="menu-title">Bock</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Doppelbock" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Doppelbock">
                            <img src="~/images/file-icons/24.png" aria-hidden="true">
                            <span class="menu-title">Doppelbock</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Stout" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Stout">
                            <img src="~/images/file-icons/29.png" aria-hidden="true">
                            <span class="menu-title">Stout</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "Porter" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=Porter">
                            <img src="~/images/file-icons/35.png" aria-hidden="true">
                            <span class="menu-title">Porter</span>
                        </a>
                    </li>
                    <li class="nav-item @(ItemSelezionato == "ImperialStout" ? "active" : "")">
                        <a class="nav-link" href="/Ricette/?nomeparametro=ImperialStout">
                            <img src="~/images/file-icons/35.png" aria-hidden="true">
                            <span class="menu-title">Imperial Stout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
        
    </ul>
}
</nav>
