@using BrewDay2.Models
@using Microsoft.AspNet.Identity
@model BrewDay2.Models.Ricette


@foreach (var item in Model.Additivis) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produttore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var quan = db.AdditiviRicettas.Where(x => x.RicettaId == Model.RicettaId && x.AdditiviId == item.AdditiviId).Select(y => y.Quantita).FirstOrDefault();
            }
            @quan
        </td>
        @if (Model.UserId == User.Identity.GetUserId())
        {
            <td>
                @Html.ActionLink("Edit", "EditAdditivo", new {id = item.AdditiviId, idr = Model.RicettaId}) |
                @Html.ActionLink("Details", "DetailsAdditivo", new {id = item.AdditiviId, idr = Model.RicettaId}) |
                @Html.ActionLink("Delete", "DeleteAdditivo", new {id = item.AdditiviId, idr = Model.RicettaId})
            </td>
        }
        else
        {
            <td>
                Impossibile editare
            </td>
        }
    </tr>
}
