@model BrewDay2.Models.Ricette

@{
    ViewBag.Title = "Create";
}

<h2>Crea Nuova</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <h4>Ricette</h4><a href="#" data-toggle="tooltip" data-placement="top" title="Create una ricetta compilando tutti i campi, è possibile aggiugere gli ingredienti in seguito."> ? </a>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.Note, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.NomeRicetta, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.NomeRicetta, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NomeRicetta, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TempoPreparazione, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TempoPreparazione, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempoPreparazione, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TempoFermentazione, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(model => model.TempoFermentazione, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.TempoFermentazione, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Categoria, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.DropDownListFor(model => model.Categoria,(SelectList)ViewBag.categorie, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Categoria, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.CapacitaContenitore, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            @Html.EditorFor(x=>x.CapacitaContenitore)
            @Html.ValidationMessageFor(model => model.Categoria, "", new {@class = "text-danger"})
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Privata, new { @class = "control-label col-md-2" })
        <div class="col-md-9">
            <div class="checkbox">
                @Html.EditorFor(model => model.Privata)
                @Html.ValidationMessageFor(model => model.Privata, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.HiddenFor(x => x.ImmagineScelta)
        <script>
            function uncheck(id) {
                for (var i = 1; i < 7; i++) {
                    if (i != id) {
                        document.getElementById("cb" + i).checked = false;
                    } else {
                        $('#ImmagineScelta').val(document.getElementById("im" + i).src);
                    }
                }
            }</script>
        <link rel="stylesheet" href="~/css/img_checkbox.css" type="text/css" />
        <ul>
            <li>
                <input type="checkbox" id="cb1" onclick="uncheck(1)" />
                <label for="cb1"><img id="im1" src="/images/birre/1.png" /></label>
            </li>
            <li>
                <input type="checkbox" id="cb2" onclick="uncheck(2)" />
                <label for="cb2"><img id="im2" src="/images/birre/2.png" /></label>
            </li>
            <li>
                <input type="checkbox" id="cb3" onclick="uncheck(3)" />
                <label for="cb3"><img id="im3" src="/images/birre/3.png" /></label>
            </li>
            <li>
                <input type="checkbox" id="cb4" onclick="uncheck(4)" />
                <label for="cb4"><img id="im4" src="/images/birre/4.png" /></label>
            </li>
            <li>
                <input type="checkbox" id="cb5" onclick="uncheck(5)" />
                <label for="cb5"><img id="im5" src="/images/birre/5.png" /></label>
            </li>
            <li>
                <input type="checkbox" id="cb6" onclick="uncheck(6)" />
                <label for="cb6"><img id="im6" src="/images/birre/6.png" /></label>
            </li>
        </ul>
    </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-9">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
    }

    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
