@model BrewDay2.Models.Ricette

@{
    ViewBag.Title = "Details";
}

<div class="well well-lg">
    <h2>@Html.DisplayFor(model => model.NomeRicetta)</h2><br />
    <img src="@Html.DisplayFor(model => model.ImmagineScelta)" alt="" title="@Html.DisplayNameFor(model => model.NomeRicetta)" />
    <br /><br />
    <div class="well well-sm">Creata da: <i><u>@ViewBag.user &nbsp;</u>
            </i> nella categoria: <i><u><a href="/Ricette/Index?nomeparametro=@Html.DisplayFor(model => model.Categoria)">@Html.DisplayFor(model => model.Categoria)&nbsp;</a></u></i></div>
    <div class="well well-sm">Tempo preparazione: <i><u>@Html.DisplayFor(model => model.TempoPreparazione)&nbsp;min</u></i> Tempo fermentazione: <i><u>@Html.DisplayFor(model => model.TempoFermentazione)&nbsp;mesi</u></i></div>

    <div class="row">
        <div class="col-sm-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Ingredienti:</h5>
                    <p class="card-text">
                        <table class="table"><thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Additivis.FirstOrDefault().Nome)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Additivis.FirstOrDefault().Descrizione)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Additivis.FirstOrDefault().Produttore)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Additivis.FirstOrDefault().Prezzo)
                            </th>
                            <th>
                                Quantit&agrave;
                            </th>
                            <th>.</th>
                        </tr>
                        </thead><tbody>
                        @Html.Partial("AdditiviRicetta")
                        @Html.Partial("LievitiRicetta")
                        @Html.Partial("LuppoliRicetta")
                        @Html.Partial("MaltiRicetta")
                        @Html.Partial("ZuccheriRicetta")
                            </tbody></table>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card border-secondary mb-3">
                <div class="card-body">
                    <h5 class="card-title">Istruzioni</h5>
                    <p class="card-text"><i><u>@Html.DisplayFor(model => model.Note)&nbsp;</u></i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<p>
    @Html.ActionLink("Modifica", "Edit", new { id = Model.RicettaId }) |
    @Html.ActionLink("Torna alla lista", "Index")
</p>
