@model BrewDay2.Models.Ricette

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Ricette</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Note)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Note)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NomeRicetta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NomeRicetta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoPreparazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoPreparazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TempoFermentazione)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TempoFermentazione)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Privata)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Privata)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ImmagineScelta)
        </dt>

        <dd>
            <img src="@Html.DisplayFor(model => model.ImmagineScelta)" alt="" title="@Html.DisplayNameFor(model => model.NomeRicetta)" />
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RicettaId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
