@model IEnumerable<BrewDay2.Models.Ricette>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable" name="myTable">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeRicetta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoPreparazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoFermentazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privata)
        </th>
        <th>Aggiungi Additivo</th>
        <th>Aggiungi Lievito</th>
        <th>Aggiungi Luppolo</th>
        <th>Aggiungi Malto</th>
        <th>Aggiungi Zucchero</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRicetta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoPreparazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoFermentazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.Raw(item.Privata == false ? "Privata" : "Pubblica")
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiAdditivo", new {id = item.RicettaId})
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiLievito", new {id = item.RicettaId})
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiLuppolo", new {id = item.RicettaId})
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiMalti", new {id = item.RicettaId})
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiZuccheri", new {id = item.RicettaId})
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.RicettaId}) |
                @Html.ActionLink("Details", "Details", new {id = item.RicettaId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.RicettaId})
            </td>
        </tr>
    }
    </tbody>
</table>

<h2>Ultime ricette</h2>


<link rel="stylesheet" href="~/css/ricette.css" type="text/css" />

<div class="contlist">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <div class="box_1 multibox_preview">
                    <div class="box-articoli-hp">
                        <div class="box_ss56545">
                            <div class="img-articolo">
                                <a href="/Ricette/Details/@item.RicettaId"><img src="@Html.Raw(item.ImmagineScelta != null ? item.ImmagineScelta.Replace(".png","a.png") : "/images/img.jpg")" title="@Html.DisplayFor(modelItem => item.NomeRicetta)" /></a>
                            </div>
                            <h3 class="title_articolo">
                                <a href="/Ricette/Details/@item.RicettaId">@Html.DisplayFor(modelItem => item.NomeRicetta)</a>
                            </h3>
                            <p class="abs-articolo">@Html.DisplayFor(modelItem => item.Note) <a href="/Ricette/Details/@item.RicettaId" class="continua">&nbsp;CONTINUA</a></p>
                            <div class="categoria-articolo-label-time">
                                <div class="categoria-articolo-label"><a href="/Ricette/Index?nomeparametro=@item.Categoria" class="categoria-articolo-label-link" style="cursor:text">@Html.DisplayFor(modelItem => item.Categoria)</a></div>
                                <div class="nofloat"></div>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
        }
    </ul>
</div>

@section scripts{
    <script>
        $(document).ready(function(){
            $(".table").DataTable();
        });
    </script>
}