@using Microsoft.AspNet.Identity
@model IEnumerable<BrewDay2.Models.Ricette>

@{
    ViewBag.Title = "Index";
}

<h2>Ricette</h2>

<p>
    @Html.ActionLink("Crea Nuova", "Create")
</p>
<div style="overflow-x:auto;">
    <table class="table" id="myTable" name="myTable">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Note)<a href="#" data-toggle="tooltip" data-placement="top" title="Descrizione della preparazione della ricetta"> ? </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.NomeRicetta)
                </th>
                <th>
                    Tempo Preparazione <a href="#" data-toggle="tooltip" data-placement="top" title="Minuti"> ? </a>
                </th>
                <th>
                    Tempo Fermentazione <a href="#" data-toggle="tooltip" data-placement="top" title="Mesi"> ? </a>
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Categoria)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Privata)
                </th>
                <th>Aggiungi Additivo</th>
                <th>Aggiungi Lievito</th>
                <th>Aggiungi Luppolo</th>
                <th>Aggiungi Malto</th>
                <th>Aggiungi Zucchero</th>
                <th>Azioni</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Note)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeRicetta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoPreparazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TempoFermentazione)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria)
                </td>
                <td>
                    @Html.Raw(item.Privata == false ? "Pubblica" : "Privata")
                </td>

                @if (User.Identity != null && item.UserId == User.Identity.GetUserId())
    {
            <td>
                @Html.ActionLink("+", "AggiungiAdditivo", new { id = item.RicettaId })
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiLievito", new { id = item.RicettaId })
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiLuppolo", new { id = item.RicettaId })
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiMalti", new { id = item.RicettaId })
            </td>
            <td>
                @Html.ActionLink("+", "AggiungiZuccheri", new { id = item.RicettaId })
            </td>
            <td>
                @Html.ActionLink("Modifica", "Edit", new { id = item.RicettaId }) |
                @Html.ActionLink("Dettagli", "Details", new { id = item.RicettaId }) |
                @Html.ActionLink("Elimina", "Delete", new { id = item.RicettaId })
            </td>
        }else{
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                @Html.ActionLink("Dettagli", "Details", new { id = item.RicettaId })
            </td>
        }
            </tr>
        }
    </tbody>
</table>
    </div>