@using BrewDay2.Models
@using Microsoft.AspNet.Identity
@model BrewDay2.Models.Ricette

@foreach (var item in Model.Lievitis)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produttore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var quan = db.LievitiRicettas.Where(x => x.RicettaId == Model.RicettaId && x.LievitiId == item.LievitiId).Select(y => y.Quantita).FirstOrDefault();
            }
            @quan
        </td>
        <td>
            @Html.ActionLink("Edit", "EditLievito", new { id = item.LievitiId, idr = Model.RicettaId }) |
            @Html.ActionLink("Delete", "DeleteLievito", new { id = item.LievitiId, idr = Model.RicettaId })
        </td>
    </tr>
}

