@using BrewDay2.Models
@using Microsoft.AspNet.Identity
@model BrewDay2.Models.Ricette

@foreach (var item in Model.Maltis)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produttore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @{
                ApplicationDbContext db = new ApplicationDbContext();
                var quan = db.MaltiRicettas.Where(x => x.RicettaId == Model.RicettaId && x.MaltiId == item.MaltiId).Select(y => y.Quantita).FirstOrDefault();
            }
            @quan
        </td>
        <td>
            @Html.ActionLink("Edit", "EditMalti", new { id = item.MaltiId, idr = Model.RicettaId }) |
            @Html.ActionLink("Delete", "DeleteMalto", new { id = item.MaltiId, idr = Model.RicettaId })
        </td>
    </tr>
}

