@model IEnumerable<BrewDay2.Models.Ricette>

@{
    ViewBag.Title = "MyRecipes";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Crea Nuova", "Create")
</p>
<table class="table"><thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Note)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NomeRicetta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoPreparazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TempoFermentazione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Privata)
        </th>
        <th>.</th>
    </tr>

    </thead><tbody>@foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Note)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeRicetta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoPreparazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TempoFermentazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categoria)
            </td>
            <td>
                @Html.Raw(item.Privata == false ? "Privata" : "Pubblica")
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RicettaId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RicettaId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RicettaId })
            </td>
        </tr>
    }

</tbody></table>