@using BrewDay2.Models
@using Microsoft.AspNet.Identity
@model BrewDay2.Models.Ricette

@foreach (var item in Model.Zuccheris)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descrizione)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Produttore)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Prezzo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id = item.ZuccheriId, idr = Model.RicettaId }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ZuccheriId, idr = Model.RicettaId })
        </td>
    </tr>
}

</tbody></table>
