@model BrewDay2.Models.ZuccheriMagazzino

@{
    ViewBag.Title = "AggiungiZuccheri";
}

<h2>AggiungiZuccheri</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>ZuccheriRicetta</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(x => x.MagazzinoId)
        @Html.HiddenFor(x=>x.ZuccheriId)
        @*<div class="form-group">
            @Html.LabelFor(model => model.RicettaId, "RicettaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("RicettaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.RicettaId, "", new { @class = "text-danger" })
            </div>
        </div>*@

        <div class="form-group">
            @Html.LabelFor(model => model.ZuccheriId, "Zucchero", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DisplayFor(x=>x.Zucchero.Nome)
                @Html.ValidationMessageFor(model => model.ZuccheriId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Quantita, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Quantita, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Quantita, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Indietro", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
