@model BrewDay2.Models.Magazzino

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MaltiUtente.FirstOrDefault().Malto.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaltiUtente.FirstOrDefault().Malto.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaltiUtente.FirstOrDefault().Malto.Produttore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MaltiUtente.FirstOrDefault().Malto.Prezzo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.MaltiUtente)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Malto.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malto.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malto.Produttore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Malto.Prezzo)
            </td>
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { id = item.AdditiviId, idr = Model.RicettaId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.AdditiviId, idr = Model.RicettaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdditiviId, idr = Model.RicettaId })*@
            </td>
        </tr>
    }

</table>
