@model BrewDay2.Models.Magazzino

<table class="table"><thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LievitiUtente.FirstOrDefault().Lievito.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LievitiUtente.FirstOrDefault().Lievito.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LievitiUtente.FirstOrDefault().Lievito.Produttore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LievitiUtente.FirstOrDefault().Quantita)
        </th>
        <th>.</th>
    </tr>
</thead><tbody>
    @foreach (var item in Model.LievitiUtente)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lievito.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lievito.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lievito.Produttore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLievito", new { id = item.LievitiId, idr = Model.MagazzinoId })
                 @*   @Html.ActionLink("Details", "Details", new { id = item.AdditiviId, idr = Model.RicettaId }) |
    @Html.ActionLink("Delete", "Delete", new { id = item.AdditiviId, idr = Model.RicettaId })*@
            </td>
        </tr>
    }

</tbody></table>
