@model BrewDay2.Models.Magazzino

<table class="table"><thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.LuppoliUtente.FirstOrDefault().Luppolo.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuppoliUtente.FirstOrDefault().Luppolo.Descrizione)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuppoliUtente.FirstOrDefault().Luppolo.Produttore)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LuppoliUtente.FirstOrDefault().Quantita)
        </th>
        <th>.</th>
    </tr>
</thead>
<tbody>
    @foreach (var item in Model.LuppoliUtente)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Luppolo.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luppolo.Descrizione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Luppolo.Produttore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantita)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditLuppolo", new { id = item.LuppoliId, idr = Model.MagazzinoId })
                @*    @Html.ActionLink("Details", "Details", new { id = item.AdditiviId, idr = Model.RicettaId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.AdditiviId, idr = Model.RicettaId })*@
            </td>
        </tr>
    }

</tbody></table>
