@model BrewDay2.Models.Magazzino

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<a href="@Url.Action("AggiungiAdditivo", "Magazzino")" class="btn btn-info" role="button"><img src="~/images/file-icons/addt.png" height="20" width="20" />Aggiungi Additivo</a>
<a href="@Url.Action("AggiungiLievito", "Magazzino")" class="btn btn-info" role="button"><img src="~/images/file-icons/lievito.png" height="20" width="20" />Aggiungi Lievito</a>
<a href="@Url.Action("AggiungiLuppolo", "Magazzino")" class="btn btn-info" role="button"><img src="~/images/file-icons/luppolo.png" height="20" width="20" />Aggiungi Luppolo</a>
<a href="@Url.Action("AggiungiMalti", "Magazzino")" class="btn btn-info" role="button"><img src="~/images/file-icons/malto.png" height="20" width="20" />Aggiungi Malto</a>
<a href="@Url.Action("AggiungiZucchero", "Magazzino")" class="btn btn-info" role="button"><img src="~/images/file-icons/zucchero.png" height="20" width="20" />Aggiungi Zucchero</a><br /><br />
<a href="@Url.Action("WhatShoudIBrewToday", "Ricette")" class="btn btn-info" role="button"><img src="~/images/file-icons/magia.png" height="20" width="20" />What should I brew Today?</a><br />
@*<table class="table"><thead>
    <tr>
        <th>
            Html.DisplayNameFor(model => model.UserId)
        </th>
        <th>.</th>
    </tr>

@foreach (var item in Model.AdditiviUtente) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Additivo.Nome)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MagazzinoId }) |
            @Html.ActionLink("Details", "Details", new { id=item.MagazzinoId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MagazzinoId })
        </td>
    </tr>
}

</tbody></table>

*@

<h3 onclick="ToggleDiv('divAdditivi')">Addittivi a magazzino</h3>(clicca per espandere l'elenco)
<div class="divAdditivi" style="display:none">
    @Html.Partial("ElencoAdditivi")
</div>

<br />

<h3 onclick="ToggleDiv('divLieviti')">Lieviti a magazzino</h3>(clicca per espandere l'elenco)
<div class="divLieviti" style="display:none">
    @Html.Partial("ElencoLieviti")
</div>

<br />

<h3 onclick="ToggleDiv('divLuppoli')">Luppoli a magazzino</h3>(clicca per espandere l'elenco)
<div class="divLuppoli" style="display:none">
    @Html.Partial("ElencoLuppoli")
</div>

<br />

<h3 onclick="ToggleDiv('divMalti')">Malti a magazzino</h3>(clicca per espandere l'elenco)
<div class="divMalti" style="display:none">
    @Html.Partial("ElencoMalti")
</div>

<br />

<h3 onclick="ToggleDiv('divZuccheri')">Zuccheri a magazzino</h3>(clicca per espandere l'elenco)
<div class="divZuccheri" style="display:none">
    @Html.Partial("ElencoZuccheri")
</div>

<script>

    function ToggleDiv(selettore) {
        $("." + selettore).toggle();
    }
</script>